.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  position: relative;

    &:before{
      content: url(/maket/white_list.png);
      position: absolute;
      left: 2%;
    }

    &:after{
      content: url(/maket/raspberry.png);
      position: absolute;
      left: 2%;
      margin-bottom: -40%;
    }
}

.seciton__title{
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}
